<section style="margin-top: 5%;">
    <div class="signuppanel">
        <div class="row">
            <div class="col-md-12">
                <form action="" method="post">
                    <div class="signup-info">
                        <h4 align="center" class="nomargin">
                            Rincian Pesan
                        </h4>
                        <br>
                          <div class="row">
                              <div class="media">
                                  <a class="pull-left" href="#">
                                  </a>
                                  <div class="media-body">
                                      <div class="table-responsive">
                                          <table class="table mb30">
                                              <thead>
                                                  <tr>
                                                      <th>
                                                          Dubai Mall
                                                      </th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <tr>
                                                      <td>
                                                          Wisata
                                                      </td>
                                                      <td>
                                                          Ancol, Ragunan, Taman Safari
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <td>
                                                          Hotel Penginapan
                                                      </td>
                                                      <td>
                                                          Putri Duyung Ancol
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <td>
                                                          Jadwal Berangkat
                                                      </td>
                                                      <td>
                                                          25 Mei 1999
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <td>
                                                          Jumlah Booking
                                                      </td>
                                                      <td>
                                                          10
                                                      </td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                      <!-- table-responsive -->
                                  </div>
                              </div>
                          </div>
                          <br>
                          <h5 class="subtitle mb5">
                              Data Pemesan
                          </h5>
                                <div class="table-responsive">
                                    <table class="table mb30">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    Nama
                                                </td>
                                                <td>
                                                    Cho Kyuhyun
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    No Telp
                                                </td>
                                                <td>
                                                    +62123456789
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Alamat
                                                </td>
                                                <td>
                                                    Jl.Merak No 2 Depok Indonesia
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- table-responsive -->
                                <br>
                                    <h5 class="subtitle mb5">
                                        Rincian Harga
                                    </h5>
                                    <div class="table-responsive">
                                        <table class="table mb30">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Item
                                                    </th>
                                                    <th>
                                                        Jumlah
                                                    </th>
                                                    <th>
                                                        Harga Perorang
                                                    </th>
                                                    <th>
                                                        Total
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        Tiket Pesawat
                                                    </td>
                                                    <td>
                                                        10
                                                    </td>
                                                    <td>
                                                        Rp.200.000
                                                    </td>
                                                    <td>
                                                        Rp.200.000
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Tiket Hotel
                                                    </td>
                                                    <td>
                                                        10
                                                    </td>
                                                    <td>
                                                        Rp.200.000
                                                    </td>
                                                    <td>
                                                        Rp.200.000
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Total Semuaa
                                                    </th>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <th>
                                                        Rp.200.000
                                                    </th>
                                                </tr>
                                                <thead>
                                                </thead>
                                            </thead>
                                        </table>
                                    </div>
                                    <!-- table-responsive -->
                                    <div class="well">
                                        <strong>
                                            Transfer Bank
                                        </strong>
                                        <p>
                                            A list of items in which the order does explicitly matter.
                                        </p>
                                        <div class="table-responsive">
                                            <table class="table mb30">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Nama Bank
                                                        </th>
                                                        <th>
                                                            Rekening
                                                        </th>
                                                        <th>
                                                            Atas Nama
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            Mandiri
                                                        </td>
                                                        <td>
                                                            1010101010101010101010
                                                        </td>
                                                        <td>
                                                            Cho Kyuhyun
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            BCA
                                                        </td>
                                                        <td>
                                                            1010101010101010101010
                                                        </td>
                                                        <td>
                                                            Cho Kyuhyun
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            BNI
                                                        </td>
                                                        <td>
                                                            1010101010101010101010
                                                        </td>
                                                        <td>
                                                            Cho Kyuhyun
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            BRI
                                                        </td>
                                                        <td>
                                                            1010101010101010101010
                                                        </td>
                                                        <td>
                                                            Cho Kyuhyun
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- table-responsive -->
                                    </div>
                                    <div class="mb20">
                                    </div>
                                    <a align="center" class="btn btn-success">
                                        Konfirmasi Pembayaran
                                    </a>
                                </br>
                            </br>
                        </br>
                    </div>
                    <!-- signup-info -->
                </form>
            </div>
            <!-- col-sm-5 -->
        </div>
        <!-- row -->
        <div class="signup-footer">
            <div class="pull-left">
                © 2016. All Rights Reserved. JalanHalal.com
            </div>
            <div class="pull-right">
                Created By:
                <a href="" target="_blank">
                </a>
            </div>
        </div>
    </div>
    <!-- signuppanel -->
</section>